<h2>Authors</h2>

<p>This section is used to display information about Authors</p>

<div>Today is @DateTime.Now.ToString()</div>
 
<span>
	Iteration number @ViewData["index"]
</span>
<span>
	@ViewData["index1"]
</span>
<span>
	@ViewData["index2"]
</span>