@model WebApplication1.Models.UserLogin

@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/RegisterAssests/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/RegisterAssests/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/RegisterAssests/images/signin-image.jpg" alt="sing up image"></figure>
                        <a class="signup-image-link" asp-controller="LoginAndRegestration" asp-action="Register">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="login-form" asp-action="Login">
                             <div class="form-group">
                                 <label asp-for="UserName" class="control-label"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                 <input asp-for="UserName" class="form-control" placeholder="User Name"/>
                                 <span asp-validation-for="UserName" class="text-danger"></span>
                             </div>
                             <div class="form-group">
                                 <label asp-for="Password" class="control-label"><i class="zmdi zmdi-lock"></i></label>
                                 <input asp-for="Password" class="form-control" placeholder="Password"/>
                                 <span asp-validation-for="Password" class="text-danger"></span>
                             </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-linkedin"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/RegisterAssests/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegisterAssests/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>